p{
  font-family: "Roboto";
}
.title-h5{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fa-icon{
    font-size: 0.8rem;
    margin-right: 0.3rem;
}

.fa-span{
    font-size: 0.8rem;
}

.fa-card{
    -webkit-box-shadow: 0px 5px 12px -1px rgba(204, 204, 204, 1);
    -moz-box-shadow: 0px 5px 12px -1px rgba(204, 204, 204, 1);
    box-shadow: 0px 5px 12px -1px rgba(204, 204, 204, 1);
}

.fa-btn-secondary{
    color: #FFFEFE;
    background-color: #002147;
    border-color: #002147;
    border: 1px solid #002147;
    border-radius: 3px;
    padding: 0.375rem 0.75rem;
    margin-left: 3px;
    font-size: 1rem;
    border-radius: 0.2rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.fa-btn-secondary:hover{
    background-color: transparent;
    color: #002147;
    -webkit-box-shadow: 0 0 0 0 rgba(38, 66, 98, 0.5);
    box-shadow: 0 0 0 0 rgba(38, 66, 98, 0.5);
}

.fa-btn-primary{
  color: #FFFEFE;
  background-color: #f15a27;
  border-color: #f15a27;
  border: 1px solid #f15a27;
  border-radius: 3px;
  padding: 0.375rem 0.75rem;
  margin-left: 3px;
  font-size: 1rem;
  border-radius: 0.2rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
} 

.fa-btn-primary:hover{
  background-color: transparent;
  color: #f15a27;
  -webkit-box-shadow: 0 0 0 0 rgba(38, 66, 98, 0.5);
  box-shadow: 0 0 0 0 rgba(38, 66, 98, 0.5);
}


.fa-form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #402B2B;
    background-color: #F5F5F5;
    background-clip: padding-box;
    border: 1px solid #E0E0E0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.5rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  }
  
  .a-img {
    margin-top: 0.75rem;
    height: 7rem;
    width: 7rem;
  }

  .a-cards {
    border-radius: 0.5rem;
    -webkit-box-shadow: 0px 10px 36px -28px rgba(179,179,179,1);
    -moz-box-shadow: 0px 10px 36px -28px rgba(179,179,179,1);
    box-shadow: 0px 10px 36px -28px rgba(179,179,179,1);
  }

  
.a-over{
    max-width: 100%;
    overflow-x: hidden;
  }

.a-cards p {
    font-size: 0.9rem;
  } 


.a-cards:hover  {
    -webkit-box-shadow: 0px 5px 12px -1px rgba(179,179,179,1);
    -moz-box-shadow: 0px 5px 12px -1px rgba(179,179,179,1);
    box-shadow: 0px 5px 12px -1px rgba(179,179,179,1);

    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes pulse {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    @keyframes pulse {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
  }


.team-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #FFFEFE;
  background-clip: border-box;
  border: thin solid #ddd;
  transition: 0.3s;
}

.team-card:hover{
  border: thin solid #262262;
}


@media (max-width: 434px) {
  .margin-top-button {
    margin-top: 15px;
  }

  .margin-right-button {
    margin-right: 10px;
  }
  
  .width-bouton {
    width: 200px;
  }
}
