{% load static %}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>LOUSHIRA | Accueil </title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================--> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&amp;family=Rubik:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{{get_configs.logo.url}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{get_configs.logo.url}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{get_configs.logo.url}}">
    <link rel="shortcut icon" type="image/x-icon" href="{{get_configs.logo.url}}">
    <link rel="manifest" href="{{get_configs.logo.url}}">
    <meta name="msapplication-TileImage" content="{{get_configs.logo.url}}">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="{% static 'app/assets/css/select2-bootstrap-5-theme.min.css' %}" rel="stylesheet" />
    <link href="{% static 'app/assets/css/theme.css' %}" rel="stylesheet" />
    <link href="{% static 'app/assets/css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'app/assets/css/slick.css' %}" rel="stylesheet" />
    <link href="{% static 'app/assets/css/slick-theme.css' %}" rel="stylesheet" />
    
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

  </head>


  <body>
  <style type="text/css">
    html, body {
      margin: 0;
      padding: 0;
    }

    * {
      box-sizing: border-box;
    }

    .slider {
        width: 50%;
        margin: 100px auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
      
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }
    
    .slick-active {
      opacity: .5;
    }

    .slick-current {
      opacity: 1;
    }
  </style>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="bg-primary py-2 d-none d-sm-block">

        <div class="container">
          <div class="row align-items-center">
            <div class="col-auto d-none d-lg-block">
              <p class="my-2 fs--1"><i class="fas fa-map-marker-alt me-3"></i><span>Avenue 15, rue 12 , ouaga </span></p>
            </div>
            <div class="col-auto ms-md-auto order-md-2 d-none d-sm-block">
              <ul class="list-unstyled list-inline my-2">
                <li class="list-inline-item"><a class="text-decoration-none" href="#!"><i class="fab fa-facebook-f text-900"></i></a></li>
                <li class="list-inline-item"><a class="text-decoration-none" href="#!"><i class="fab fa-pinterest text-900"></i></a></li>
                <li class="list-inline-item"><a class="text-decoration-none" href="#!"><i class="fab fa-twitter text-900"></i></a></li>
                <li class="list-inline-item"><a class="text-decoration-none" href="#!"><i class="fab fa-instagram text-900"> </i></a></li>
              </ul>
            </div>
            <div class="col-auto">
              <p class="my-2 fs--1"><i class="fas fa-envelope me-3"></i><a class="text-900" href="mailto:loushira.contact@gmail.com">louhsira.contact@gmail.com </a></p>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->


      <nav class="navbar navbar-expand-lg navbar-light sticky-top py-3 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand" href="{% url 'welcome' %}"><img src="{{get_configs.logo.url}}" height="60" alt="logo" /></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"> </span></button>
          <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base">
              <li class="nav-item px-2"><a class="nav-link active fw-bold" style="color:#18163d" aria-current="page" href="{% url 'welcome' %}">Accueil</a></li>
              <li class="nav-item px-2"><a class="nav-link fw-bold" style="color:#18163d" aria-current="page" href="{% url 'about' %}">A propos</a></li>
              <li class="nav-item px-2"><a class="nav-link fw-bold" style="color:#18163d" aria-current="page" href="{% url 'home-searcher' %}">Chercheur</a></li>
              <li class="nav-item px-2"><a class="nav-link fw-bold" style="color:#18163d" aria-current="page" href="{% url 'owner-page' %}">Propriétaire</a></li>
              <li class="nav-item px-2"><a class="nav-link fw-bold" style="color:#18163d" aria-current="page" href="{% url 'agence' %}">Agences Immobilières</a></li>
            </ul><a class="btn btn-primary order-1 order-lg-0 fw-bold" style="color:#18163d" href="{% url 'catalogue' %}">Catalogue</a>
            {% comment "" %}
                <form class="d-flex my-3 d-block d-lg-none">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
            
            
            <div class="dropdown d-none d-lg-block">
              <button class="btn btn-outline-light ms-2" id="dropdownMenuButton1" type="submit" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-search text-800"></i></button>
              <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownMenuButton1" style="top:55px">
                <form>
                  <input class="form-control" type="search" placeholder="Search" aria-label="Search" />
                </form>
              </ul>
            </div>
            {% endcomment %}
          </div>
        </div>
      </nav>

    {% block content %}


      
    {% endblock content %}

      <!-- <section> begin ============================-->
      <section class="bg-secondary" style=" padding-top: 7.5rem;padding-bottom: 7.5rem">

        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-12 col-lg-6 mb-4 order-0 order-sm-0"><a class="text-decoration-none" href="#"><img src="{{get_configs.logo2.url}}" height="51" alt="" /></a>
              <p class="text-light my-4"> <i class="fas fa-map-marker-alt me-3"></i><span class="text-light">Avenue 15, rue 12 , ouaga  &nbsp;</span><a class="text-light" href="tel:+604-680-9785">+225 000 000 00 00</a><br /></p>
              <p class="text-light"> <i class="fas fa-envelope me-3"> </i><a class="text-light" href="mailto:loushira.contact@gmail.com">louhsira.contact@gmail.com</a></p>
              <p class="text-light"> <i class="fas fa-phone-alt me-3"></i><a class="text-light" href="tel:+225 0789773420">+225 0789773420 (Support)</a></p>
            </div>
            <div class="col-6 col-sm-4 col-lg-2 mb-3 order-2 order-sm-1">
              <h5 class="lh-lg fw-bold mb-4 text-light font-sans-serif">Community </h5>
              <ul class="list-unstyled mb-md-4 mb-lg-0">
                <li class="lh-lg"><a class="text-200" href="#!">Learners</a></li>
                <li class="lh-lg"><a class="text-200" href="#!">Partners</a></li>
                <li class="lh-lg"><a class="text-200" href="#!">Developers</a></li>
                
                
              </ul>
            </div>
            <div class="col-6 col-sm-4 col-lg-2 mb-3 order-3 order-sm-2">
              <h5 class="lh-lg fw-bold text-light mb-4 font-sans-serif">Informations</h5>
              <ul class="list-unstyled mb-md-4 mb-lg-0">
                <li class="lh-lg"><a class="text-200" href="#!">A propos de Nous</a></li>
                <li class="lh-lg"><a class="text-200" href="{% url 'home-searcher' %}">Chercheur</a></li>
                <li class="lh-lg"><a class="text-200" role="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Propriétaires</a></li>
                <li class="lh-lg"><a class="text-200" href="#!">Agences Immobilières</a></li>
              </ul>
            </div>
            <div class="col-6 col-sm-4 col-lg-2 mb-3 order-3 order-sm-2">
              <h5 class="lh-lg fw-bold text-light mb-4 font-sans-serif"> Plus</h5>
              <ul class="list-unstyled mb-md-4 mb-lg-0">
                <li class="lh-lg"><a class="text-200" href="#!">Terms</a></li>
                <li class="lh-lg"><a class="text-200" href="#!">Privacy</a></li>
                <li class="lh-lg"><a class="text-200" href="#!">Help</a></li>
                <li class="lh-lg"><a class="text-200" href="#!">Accessibility</a></li>
                <li class="lh-lg"><a class="text-200" href="#!">Contact</a></li>
                
              </ul>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->


      <section class="py-0" style="margin-top: -5.8rem;">
        <div class="container bg-primary">
          <div class="row justify-content-md-between justify-content-evenly py-4">
            <div class="col-12 col-sm-8 col-md-6 col-lg-auto text-center text-md-start">
              <p class="fs--1 my-2 fw-bold">{{get_configs.copy_right}}</p>
            </div>
            <div class="col-12 col-sm-8 col-md-6">
              <p class="fs--1 my-2 text-center text-md-end fw-bold"> 
                © Louhsira, 2024
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->




    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src= "https://code.jquery.com/jquery-3.6.1.min.js" integrity= "sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"> </script> 
      
    <script> 
        $(function () { 
            $("#datepicker").datepicker({  
                autoclose: true,  
                todayHighlight: true, 
                todayBtn : "linked", 
                title : "Geeksforgeeks datepicker" 
            }).datepicker('update', new Date()); 
        }); 
    </script> 
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://kit.fontawesome.com/762b1fab87.js" crossorigin="anonymous"></script>
    <script src= "https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> 
    <script src= "https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"> </script>

    <script src="{% static 'app/vendors/@popperjs/popper.min.js' %}"></script>
    <script src="{% static 'app/vendors/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'app/vendors/is/is.min.js' %}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="{% static 'app/vendors/fontawesome/all.min.js' %}"></script>
    <script src="{% static 'app/assets/js/theme.js' %}"></script>
    <script src="{% static 'app/assets/js/main.js' %}"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="{% static 'app/assets/js/slick.min.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
   
    <script>
     // In your Javascript (external .js resource or <script> tag)
$(document).ready(function() {
  $('.js-example-basic-single').select2({
    border:'3px',
  });
});
      
    </script>
    {% block scriptDetail %}
    
    {% endblock scriptDetail %}

    <script> 
      $("#selectID").select2({
        dropdownParent:"#staticBackdrop",
        placeholder: "[Piscine, jardin, vue, etc.]",
        multiple: true,
        allowClear: true,
        tags:["Balcon", "Jardin", "Parking"],
      });

      new Vue({
        el: "#home_owner",
        data: {
          //--------------------------
          first_confirm: false,
          second_confirm: false,

          //--------------------------
          name: '',
          email: '',
          phone: '',

          //--------------------------
          type_propriete_for_owner: '',
          status_buy_sell: '',
          home_price: '',
          home_address: '',
          year_building: '',
          living_space: '',
          nbr_room: '',
          nbr_bath_room: '' ,
          other_detail:'',

          //--------------------------
          home_detail: '',

          //--------------------------
          picture: '',

        },
        mounted(){},
        computed:{},
        methods: {
         sendOwnerData(){
          if(this.first_confirm, this.second_confirm){
            if(!this.name == '', !this.phone == '', !this.email == '', !this.type_propriete_for_owner == '', !this.status_buy_sell == '', !this.home_price == '', !this.home_address == '', !this.year_building == '', !this.living_space == '', !this.nbr_room == '', !this.nbr_bath_room == ''){
              if(!/^[a-zA-Z0-9.+_-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/.test(this.email)){
                Swal.fire({
                  icon: 'error',
                  title: 'Erreur',
                  text: "veuillez saisir un email valide !!! ",
                  showConfirmButton: false,
                  timer: 2000,
                })
              }
              else{
                Swal.fire({
                  icon: 'success',
                  title: "Demande d'exposition envoyé",
                  text: "Notre equipe vous contactera dans un bref delai !!! ",
                  showConfirmButton: false,
                  timer: 2000,
                });
                console.log(this.picture)
              }
            }else{
              Swal.fire({
                icon: 'error',
                title: 'Erreur',
                text: "veuillez renseigner les champs requis (*) !!! ",
                showConfirmButton: true,
              })
            }
          }else{
            Swal.fire({
              icon: 'error',
              title: 'Erreur',
              text: "veuillez accepter les politiques de confidentialités et le plein droits sur les photos !!! ",
              showConfirmButton: true,
            })
          }
         }
        },
      });

    var app =  new Vue({
        el: '#home_asking',
        delimiters: ['%{', '}'],
        data: {
          confirm: false,
          //--------------------------
          name: '',
          phone: '',
          email: '',

          //----------------------------
          type_propriete_rechercher: '',
          achat_or_location: '',
          budjet: '',
          nbr_chambre: '',
          nbr_salle_bain: '',
          surface_habitable: '',
          localisation_souhaite: '',
          caract_souhaite: '',

          // --------------------------
          date_demenag_souhaite: '',
          comments_souhaite: '',
        },
        mounted(){},
        computed:{},
        methods: {
          sendData(){
            if(this.name == ""){
              Swal.fire({
                icon: 'error',
                title: 'Erreur',
                text: "veuillez saisir votre nom & prénom !!! ",
                showConfirmButton: true,
              })
            }else if(this.phone == ""){
              Swal.fire({
                icon: 'error',
                title: 'Erreur',
                text: "veuillez saisir un numéro de téléphone pour vous joindre !!! ",
                showConfirmButton: true,
              })
            }else if(this.email == ""){
              Swal.fire({
                icon: 'error',
                title: 'Erreur',
                text: "veuillez saisir votre addresse emailil !!!",
                showConfirmButton: true,
              })
            }else if(this.date_demenag_souhaite == ''){
              Swal.fire({
                icon: 'error',
                title: 'Erreur',
                text: "veuillez choisir une date de déménagement !!!",
                showConfirmButton: true,
              })
            }else{
            
              let myForm = new FormData();
              FormData.append('name', this.name)
              FormData.append('phone', this.phone)
              FormData.append('email', this.email)
              //-------------------------------------
              FormData.append('type_propriete_rechercher', this.type_propriete_rechercher)
              FormData.append('achat_or_location', this.achat_or_location)
              FormData.append('budjet', this.budjet)
              FormData.append('nbr_chambre', this.nbr_chambre)
              FormData.append('nbr_salle_bain', this.nbr_salle_bain)
              FormData.append('surface_habitable', this.surface_habitable)
              FormData.append('localisation_souhaite', this.localisation_souhaite)
              FormData.append('caract_souhaite', this.caract_souhaite)
              //-----------------------------------------
              FormData.append('date_demenag_souhaite', this.date_demenag_souhaite)
              FormData.append('comments_souhaite', this.comments_souhaite)
              
              axios.defaults.xsrfCookieName = 'XSRF-TOKEN'
              axios.defaults.xsrfHeaderName = 'X-XSRF-TOKEN'
              axios.post("{% url 'post-ask-home' %}", FormData, {})
              .then(function(response){
                if(response.data.success){
                  Swal.fire({
                    icon: 'success',
                    title: 'Demande envoyee',
                    text: response.data.msg ,
                    showConfirmButton: true,
                  });
                }else{
                  Swal.fire({
                    icon: 'error',
                    title: 'Demande envoyee',
                    text: response.data.msg ,
                    showConfirmButton: true,
                  });
                }
              })
              console.log(myDataForm)
             
            }
          }
        },
      })

    </script>
  </body>

</html>