{% extends "base/base.html" %}
{% load static %}
{% block content %}

<section class="bg-600" style="height: 300px;">
    <div class="container">
        <div class="row ">
            <div class="col-md-4 col-lg-6 text-start"></div>
            <div class="col-md-4 col-lg-6 text-md-start text-center">
                <h3 class="fs-4 mb-2 fw-bold">Notre mission:</h3>
                <h4 class="fs-3 font-sans-serif mb-5 fw-bold">Rendre la recherche de biens immobiliers facile et accessible à tous,partout et à n’importe quel moment.

                </h4>
            </div>
            <div class="col-md-4 col-lg-6"></div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row text-center">
            <h3 class="fw-bold">Louhsira</h3>
            <p> Louhsira est la plateforme qui rassemble toutes les opportunités de
                vente et de location de maisons, ainsi que les agences immobilières, en
                un seul endroit. Notre objectif est de faciliter la recherche de biens
                immobiliers pour les particuliers et les personnes souhaitant mettre leur
                propriété en vente ou en location.
            </p>
        </div>
    </div>
</section>

<section class="pt-5 w-100 h-50 a-over">
    <div class="row">
      <div class="col-md-4 d-flex flex-column justify-content-center" style="background-color:#001731; color:#fff;height:430px">
        <h2 class="fw-bold mb-3 ms-4" style="color:#fff;">Propriétaire de maison</h2>
        <p class="ms-4">Exposez votre bien immobilier sur notre
            plateforme dédiée ! Si vous souhaitez mettre en location ou en vente votre
            maison, vous êtes au bon endroit. Maximisez la visibilité de votre propriété
            et atteignez des chercheurs potentiels. Une solution simple et efficace
            pour mettre en avant votre bien immobilier.
        </p>
        <a href="{% url 'owner-page' %}" class="fa-btn-primary ms-4 mt-4 fw-bold w-50">Exposer une maison</a> 
      </div>
      <div class="col-md-4 w-40" style="background-color: rgb(190, 190, 190);height:430px"></div>
      <div class="col-md-4 d-flex flex-column justify-content-center" style="background-color:#f15a27;color:#fff;height:430px">
        <h2 class="fw-bold mb-3 ms-3"  style="color:#fff;">Chercheur de maison</h2>
        <p class="ms-3">Vous cherchez une maison à louer ou à acheter,
            vous êtes au bon endroit. Trouvez le bien idéal en fonction de votre budget
            et de vos critères désirés.
        </p>
        <a  href="{% url 'home-searcher' %}" class="fa-btn-secondary ms-3 mt-4 w-50 fw-bold">Chercher une maison</a>
      </div>
    </div>
    <div class="row">
        <div class="col-md-4 d-flex flex-column justify-content-center" style="background-color: rgb(190, 190, 190); color:#fff;height:430px">
          
        </div>
        <div class="col-md-4 w-40 d-flex flex-column justify-content-center" style="background-color: rgb(0, 0, 0);height:430px; color:#fff;height:430px">
            <h2 class="fw-bold mb-3 ms-3"  style="color:#fff;">Agences immobilières</h2>
          <p class="ms-3">Les agences immobilières
            bénéficient d'une flexibilité sans précédent, pouvant choisir entre gérer
            elles-mêmes leurs annonces ou collaborer avec LouhSira pour une
            exposition et une vente optimisée.</p>
            <a href="{% url 'agence' %}" class="fa-btn-primary ms-4 mt-4 fw-bold w-50">Agence immobilière</a>
        </div>
        <div class="col-md-4 d-flex flex-column justify-content-center" style="background-color: rgb(190, 190, 190);color:#fff;height:430px">
          
        </div>
      </div>
</section>

<section>
  <div class="container">
    <div class="row text-center mb-4">
        <h3 class="fw-bold">Notre équipe.</h3>
        <p>Nous sommes une jeune équipe complémentaire et soudée, engagée
                dans une aventure visant à construire quelque chose de durable au sein
                de notre écosystème.
              Chaque jour, nous apprenons quelque chose de nouveau, avec l’optimisme que l’apport de la technologie dans tous les 
                secteurs d’activité, notamment l’immobilier, contribuera au développement de noséconomies.
        </p>
    </div>
    
    <div class="row">
      <div class="col-md-4">
        <div class="team-card mb-md-0 h-100">
          <div class="card-body">
            <img class="w-100 h-90" src="{% static 'app/assets/img/gallery/ins_team1.jpg' %}" alt="">
          <h2 class="fw-bold text-center mt-3">John Dane</h2>
          <p class="text-center text-primary">Co-founder</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="team-card mb-md-0 h-100">
          <div class="card-body">
            <img class="w-100 h-80" src="{% static 'app/assets/img/gallery/ins_team2.jpg' %}" alt="">
          <h2 class="fw-bold text-center mt-3">John Dane</h2>
          <p class="text-center text-primary">Co-founder</p>
          </div>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="team-card mb-md-0 h-100">
          <div class="card-body">
            <img class="w-100 h-80" src="{% static 'app/assets/img/gallery/ins_team3.jpg' %}" alt="">
          <h2 class="fw-bold text-center mt-3">John Dane</h2>
          <p class="text-center text-primary">Co-founder</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="bg-200">

  <div class="container">
    <div class="d-fex row align-items-center justify-content-center">
      
      <div class="col-md-6 col-lg-5">
        <h6 class="text-secondary font-sans-serif fs-1 fw-bold">Abonnez-vous dès maintenant pour être le premier au courant !</h6>
        <form class="row g-0 align-items-center">
          <div class="col">
            <div class="input-group-icon">
              <input class="form-control form-little-squirrel-control" type="email" placeholder="Entrer votre email " aria-label="email" /><i class="fas fa-envelope input-box-icon"></i>
            </div>
          </div>
          <div class="col-auto">
            <button class="btn btn-primary rounded-0" type="submit">S'abonner</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- end of .container-->

</section>
      <!-- 

{% endblock content %}