{% extends "base/base.html" %}
{% load static %}
{% block content %}

<section class="pb-11 pt-7 bg-600">

    <div class="container">
      <div class="row">
        <div class="col-12">
            <h6 class="font-sans-serif text-primary fw-bold"></h6>
            <h1 class="mb-6">Chercher une maison</h1>
            <form id="home_asking" class="row g-3">

                <h1 class="text-center fs-2 mb-5">Informations persernelles</h1>
                <div class="row mb-3">
                    <div class="col-sm-6 col-md-6">
                        <label class="form-label" for="inputCategories">Nom et Prénom <span class="text-primary">*</span></label>
                        <input type="name" class="form-control" placeholder="john diane" v-model="name">
                    </div>
                    <div class="col-sm-6 col-md-6">
                    <label class="form-label" for="inputLevel">Numéro de téléphone <span class="text-primary">*</span></label>
                    <input type="number" class="form-control" placeholder="" v-model="phone">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <label class="form-label" for="inputCategories">Adresse e-mail <span class="text-primary">*</span></label>
                        <input type="email" class="form-control" placeholder="mail@gmail.com" v-model="email">
                    </div>
                </div>
                <hr>
                <h1 class="text-center fs-2 mb-5">Préférences de la Propriété</h1>
                <div class="row mb-3">
                    <div class="col-sm-6 col-md-4">
                        <label class="form-label" for="inputLevel">Type de propriété recherchée <span class="text-primary">*</span></label>
                        <select class="form-select" id="inputLevel" v-model="type_propriete_rechercher">
                            <option selected="selected">Votre choix</option>
                            <option>Appartement</option>
                            <option>Maison</option>
                            <option>Studio</option>
                        </select>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <label class="form-label" for="inputLevel">Achat ou Location <span class="text-primary">*</span></label>
                        <select class="form-select" id="inputLevel" v-model="achat_or_location">
                            <option selected="selected">Votre choix</option>
                            <option>Achat</option>
                            <option>Location</option>
                        </select>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <label class="form-label" for="inputLevel">Budget <span class="text-primary">*</span></label>
                        <input type="name" class="form-control" placeholder="100 000 Fcfa" v-model="budjet">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-6 col-md-4">
                        <label class="form-label" for="inputLevel">Nombre de chambres <span class="text-primary">*</span></label>
                        <select class="form-select" id="inputLevel" v-model="nbr_chambre">
                            <option selected="selected">Votre choix</option>
                            <option> 1 chambre</option>
                            <option> 2 chambres</option>
                            <option> 3 chambres</option>
                            <option> 4 chambres</option>
                            <option> 5 chambres</option>
                        </select>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <label class="form-label" for="inputLevel">Nombre de salles de bain <span class="text-primary">*</span></label>
                        <select class="form-select" id="inputLevel" v-model="nbr_salle_bain">
                            <option selected="selected">Votre choix</option>
                            <option> 1 salle de bain</option>
                            <option> 2 salles de bain</option>
                            <option> 3 salles de bain</option>
                            <option> 4 salles de bain</option>
                            <option> 5 salles de bain</option>
                        </select>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <label class="form-label" for="inputLevel">Surface habitable <span class="text-primary">*</span></label>
                        <input type="email" class="form-control" placeholder="Surface en mètres carrés souhaitée" v-model="surface_habitable">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-6 col-md-6">
                        <label class="form-label" for="inputLevel">Localisation souhaitée <span class="text-primary">*</span></label>
                        <input type="text" class="form-control" placeholder="Quartier, ville ou région" v-model="localisation_souhaite">
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <label class="form-label" for="inputLevel">Caractéristiques souhaitées</label>
                        <select class="form-select" id="inputLevel">
                            <option selected="selected">Votre choix</option>
                            <option>Jardin</option>
                            <option>Balcon</option>
                            <option>Parking</option>
                        </select>
                    </div>
                </div>
                <hr>
                <h1 class="text-center fs-2 mb-5">Autres Préférences</h1>
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <label class="form-label" for="inputCategories">Date de déménagement souhaitée <span class="text-primary">*</span></label>
                        <input type="date" class="form-control" v-model="date_demenag_souhaite">
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <label for="floatingTextarea">Commentaires supplémentaires</label>
                        <textarea class="form-control" placeholder="Laisser un commentaire" id="floatingTextarea" v-model="comments_souhaite"></textarea>
                    </div>
            
                </div>
                <div class="col-auto z-index-2">
                <button class="btn btn-primary" type="submit" @click.prevent="sendData">Faire votre Demande</button>
                </div>

           
            </form>
        </div>
      </div>
    </div>
    <!-- end of .container-->

</section>


<script>
    $(document).ready(function() {
      $('.datepicker').datepicker();
    });
</script>
{% endblock %}