<section class="py-5" id="news_letter">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      
      <!-- Image à gauche -->
      <div class="col-md-6 col-lg-5 mb-4 mb-md-0 text-center text-md-start">
        <img src="{{ get_configs.newsletter_picture.url }}" alt="Illustration newsletter" class="img-fluid" style="max-width: 300px;">
      </div>

      <!-- Formulaire à droite -->
      <div class="col-md-6 col-lg-6">
        <h4 class="fw-bold mb-3">Restez informé</h4>
        <p class="text-muted mb-4">{{ get_configs.newsletter_text }}</p>

        <form class="row g-0 align-items-center">
          <div class="col">
            <div class="input-group-icon">
              <input class="form-control form-little-squirrel-control" type="email" placeholder="Entrer votre email " aria-label="email" v-model="email" /><i class="fas fa-envelope input-box-icon"></i>
            </div>
          </div>
          <div class="col-auto">
            <button class="btn btn-primary rounded-0" type="submit" @click.prevent="sendNewLettrData()">S'abonner</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</section>
