
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content" id="trust_us">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Exposer votre maison</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row pb-4">
          <p class="text-center">Informations du Propriétaire</p>
          <div class="col-md-6">
            <input type="text" class="form-control" id="forName" placeholder="Nom complet *" v-model="name">
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" id="forPhone" placeholder="Téléphone *" v-model="phone">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
           <input type="email" class="form-control" id="forEmail" placeholder="Email" v-model="email">
          </div>
        </div>
        <hr>
        <p class="text-center">Détail de la propriété</p>
        <div class="row mt-3">
          <div class="col-sm-6 col-md-4">
            <select class="form-select" id="forType" v-model="type_propriete_for_owner">
              <option value="" selected hidden>Type de proprieté</option>
              {% for type in get_type_proprietes %}
                <option>{{type.libele}}</option>
                {% endfor %}
            </select>
          </div>
          <div class="col-sm-6 col-md-4">
            <select class="form-select" id="forStatus"  v-model="status_buy_sell">
              <option value="" selected hidden>Faire louer / Faire vendre</option>
              <option>Faire louer</option>
              <option>Faire vendre</option>
            </select>
          </div>
          <div class="col-md-4">
           <input type="text" class="form-control" id="forPrice" placeholder="Prix de location ou de vente en fcfa" v-model="home_price">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-sm-6 col-md-4">
            <select class="form-select" id="forAddress" v-model="home_address">
              <option value="" selected hidden>Adresse de la propriété</option>
                <option>Bobo Dioulasso</option>
                <option>Ouaga</option>
            </select>
          </div>
          <div class="col-sm-6 col-md-4">
            <select class="form-select" id="forYear" v-model="year_building">
              <option value="" selected hidden>Année de construction</option>
                <option>2024</option>
                <option>2023</option>
            </select>
          </div>
          <div class="col-md-4">
             <input type="text" class="form-control" id="forSpace" placeholder="Surface habitable en mètres carrés" v-model="living_space">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-sm-6 col-md-4">
            <select class="form-select" id="forRoom" v-model="nbr_room">
              <option value="" selected hidden>Nombre de chambres</option>
              <option> 1 chambre</option>
              <option> 2 chambres</option>
              <option> 3 chambres</option>
              <option> 4 chambres</option>
              <option> 5 chambres</option>
            </select>
          </div>
          <div class="col-sm-6 col-md-4">
           <select class="form-select" id="forBathRomm" v-model="nbr_bath_room">
              <option value="" selected hidden>Nombre de salles de bain</option>
              <option> 1 salle de bain</option>
              <option> 2 salles de bain</option>
              <option> 3 salles de bain</option>
              <option> 4 salles de bain</option>
            </select>
          </div>
          <div class="col-sm-6 col-md-4">
             <select  class="form-select"  id="">
              <option value="" selected hidden>Caractéristiques spéciales</option>
              <option>Jardin</option>
              <option>Balcon</option> 
              <option>Parking</option>
            </select>
          </div>
        </div>
        <hr>
        <p class="text-center">Description de la Propriété</p>
        <div class="row">
          <div class="col-sm-12 col-md-12">
          <textarea class="form-control" placeholder="Décrivez les atouts et particularités de la propriété" id="forDetail" v-model="home_detail"></textarea>
          </div>
        </div>
        <hr>
        <p class="text-center">Photos de la Propriété</p>
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <input class="form-control" type="file" id="picture" v-model="picture">
         </div>
         <div class="col-sm-6 col-md-6">
           <input class="form-control" type="file" id="picture2" placeholder="Photo 2" v-model="picture2">
         </div>
        </div>
                
        <div class="row mt-3 ms-3">
          <div class="form-check col-sm-12 col-md-12">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate" v-model="first_confirm">
          <label class="form-check-label" for="flexCheckIndeterminate">
            J'accepte de fournir des photos de qualité de la propriété pour la publication.
          </label>
          </div>
        </div>
        <div class="row ms-3">
          <div class="form-check col-sm-12 col-md-12">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate2" v-model="second_confirm">
          <label class="form-check-label" for="flexCheckIndeterminate2">
            J'accepte que mes informations et celles de ma propriété soient publiées sur la plateforme immobilière conformément à la politique de confidentialité.
          </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermé</button>
        <button type="button" class="btn btn-primary" @click.prevent="sendOwnerData()">Exposer sa maison</button>
      </div>
    </div>
  </div>
</div>
