<div class="modal fade" id="modalSearch" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content" id="home_asking">
      <div class="modal-header">
        <h5 class="modal-title">Chercher une maison</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row pb-4">
          <p class="text-center">Informations du Propriétaire</p>
          <div class="col-md-6">
            <input type="text" class="form-control" id="forName" placeholder="Nom complet *" v-model="name">
          </div>
          <div class="col-md-6">
            <input type="number" class="form-control" id="forPhone" placeholder="Téléphone *" v-model="phone">
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <input type="email" class="form-control" id="forEmail" placeholder="Email" v-model="email">
          </div>
        </div>
        <hr>
        <p class="text-center">Préférences de la Propriété</p>

        <div class="row mt-3">
          <div class="col-sm-6 col-md-4">
            <select class="form-select" id="forType" v-model="type_propriete_rechercher">
              <option value="" selected hidden>Type de proprieté recherchée *</option>
              {% for type in get_type_proprietes %}
                <option>{{type.libele}}</option>
                {% endfor %}
            </select>
          </div>
          <div class="col-sm-6 col-md-4">
            <select class="form-select" id="forStatus"  v-model="achat_or_location">
              <option value="" selected hidden>À louer / À vendre</option>
              <option>À louer</option>
              <option>À vendre</option>
            </select>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" id="forPrice" placeholder="Budget *" v-model="budjet">
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-sm-6 col-md-4">
            <select class="form-select" id="forAddress" v-model="nbr_chambre">
              <option value="" selected hidden>Nombre de chambres</option>
              <option> 1 chambre</option>
              <option> 2 chambres</option>
              <option> 3 chambres</option>
              <option> 4 chambres</option>
              <option> 5 chambres</option>
            </select>
          </div>
          <div class="col-sm-6 col-md-4">
           <select class="form-select" id="forYear" v-model="nbr_salle_bain">
              <option value="" selected hidden>Nombre de salles de bain </option>
              <option> 1 salle de bain</option>
              <option> 2 salles de bain</option>
              <option> 3 salles de bain</option>
              <option> 4 salles de bain</option>
              <option> 5 salles de bain</option>
            </select>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" id="forSpace" placeholder="Surface habitable en mètres carrés" v-model="surface_habitable">
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-sm-6 col-md-6">
            <select class="form-select" id="inputLevel" v-model="localisation_souhaite">
              <option value="" selected hidden>Localisation souhaitée</option>
              {% for locale in get_localites %}
              <option>{{locale.name}}</option>
              {% endfor %}
          </select>
          </div>
          <div class="col-sm-6 col-md-6">
              <select class="form-select" id="inputLevel" v-model="caract_souhaite">
                <option value="" selected hidden>Caractéristiques souhaitées</option>
                <option>Jardin</option>
                <option>Balcon</option>
                <option>Parking</option>
              </select>
          </div>
        </div>
        <hr>
        <p class="text-center">Autres Préférences</p>
        <div class="row">
          <div class="col-sm-6 col-md-6">
              <input type="date" class="form-control" v-model="date_demenag_souhaite">
          </div>
          <div class="col-sm-6 col-md-6">
            <textarea class="form-control" placeholder="Commentaires supplémentaires" id="floatingTextarea" v-model="comments_souhaite"></textarea>
          </div>
  
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermé</button>
        <button type="button" class="btn btn-primary" @click.prevent="sendData()">Faire votre Demande</button>
      </div>
    </div>
  </div>
</div>


