<section class="pt-6 w-100 h-50">
  <div class="container mt-4">
    <div class="row">
      {% for trusth in get_do_trusths %}
        <div class="col-md-4 a-cards box-shadows"> 
          <div class="text-center"><img src="{{trusth.picture.url}}" class="a-img " alt=""></div>
          
          <h5 class="mt-2 title-h5 fw-bold text-center">{{trusth.title}}</h5>
          <p class="mt-2 justify-content-center">{{trusth.description}}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
