{% extends "base/base.html" %}
{% load static %}
{% block content %}

<section class="bg-600" style="height: 300px;">
    <div class="container">
        <div class="row ">
            <div class="col-md-4 col-lg-6 text-start"></div>
            <div class="col-md-4 col-lg-6 text-md-start text-center">
                <h3 class="fs-4 mb-2 fw-bold">Notre mission:</h3>
                <h4 class="fs-3 font-sans-serif mb-5 fw-bold">Rendre la recherche de biens immobiliers facile et accessible à tous,partout et à n’importe quel moment.

                </h4>
            </div>
            <div class="col-md-4 col-lg-6"></div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row text-center">
            <h3 class="fw-bold">Louhsira</h3>
            <p> Louhsira est la plateforme qui rassemble toutes les opportunités de
                vente et de location de maisons, ainsi que les agences immobilières, en
                un seul endroit. Notre objectif est de faciliter la recherche de biens
                immobiliers pour les particuliers et les personnes souhaitant mettre leur
                propriété en vente ou en location.
            </p>
        </div>
    </div>
</section>

<section class="pt-5 w-100 h-50 a-over">
    <div class="row">
      {% for triples in get_section_triples %}
        {% if triples.order in listes  %}
          <div class="col-md-4 d-flex flex-column justify-content-evenly" style="background-color:{{triples.background_color}}; color:#fff;height:430px">
            <h2 class="fw-bold mb-3 ms-4" style="color:#fff;">{{triples.title}}</h2>
            <p class="ms-4">{{triples.libele}}
            </p>
            <a href="{% url 'owner-page' %}" class="{{triples.class_boutton}} ms-4 mt-4 fw-bold w-50">Exposer une maison</a> 
          </div>
        {% else %}
          <div class="col-md-4 d-flex flex-column justify-content-evenly" style="background-color:{{triples.background_color}}; color:#fff;height:430px">
            
          </div>
        {% endif %}

      {% endfor %}

      </div>
</section>

<section>
  <div class="container">
    <div class="row text-center mb-4">
        <h3 class="fw-bold">Notre équipe.</h3>
        <p>Nous sommes une jeune équipe complémentaire et soudée, engagée
                dans une aventure visant à construire quelque chose de durable au sein
                de notre écosystème.
              Chaque jour, nous apprenons quelque chose de nouveau, avec l’optimisme que l’apport de la technologie dans tous les 
                secteurs d’activité, notamment l’immobilier, contribuera au développement de noséconomies.
        </p>
    </div>
    
    <div class="row">
      {% for team in get_teams %}
        <div class="col-md-4">
          <div class="team-card mb-md-0 h-100">
            <div class="card-body">
              <img class="w-100 h-90" src="{{team.picture.url}}" alt="">
            <h2 class="fw-bold text-center mt-3">{{team.name}}</h2>
            <p class="text-center text-primary">{{team.job}}</p>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
</section>

<section class="bg-200">

  <div id="news_letter" class="container">
    <div class="d-fex row align-items-center justify-content-center">
      
      <div class="col-md-6 col-lg-5">
        <h6 class="text-secondary font-sans-serif fs-1 fw-bold">Abonnez-vous dès maintenant pour être le premier au courant !</h6>
        <form class="row g-0 align-items-center">
          <div class="col">
            <div class="input-group-icon">
              <input class="form-control form-little-squirrel-control" type="email" placeholder="Entrer votre email " aria-label="email" v-model="email" /><i class="fas fa-envelope input-box-icon"></i>
            </div>
          </div>
          <div class="col-auto">
            <button class="btn btn-primary rounded-0" type="submit" @click.prevent="sendNewLettrData()">S'abonner</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- end of .container-->
  <style>
	.slick-prev:before,
    .slick-next:before {
      color: #002147;
	  font-size: 50px;
    }

  .slick-next:before{
    position: absolute;
    left: 0%;
    left: 0%;
    position: absolute;
    transform: translate(-20px, 0px);
  }
  
	.slick-slide {
		margin: 20px 0px;
	  }
	  
	  .slider {
		  width: 50%;
		  margin: 100px auto;
	  }
  
	  .slick-slide {
		margin: 0px 20px;
	  }
  
	  .slick-slide img {
		width: 100%;
    height: 75%;
	  }
  
	  .slick-slide {
		transition: all ease-in-out .3s;
		opacity: 1;
	  }
	
	  .slick-current {
		opacity: 1;
	  }
	  
	  .fa-solid{
		position: absolute;
		left: 49%;
		top: 90%;
		font-size: 5rem;
		transform: translate(-50%, -50%);
		color: #fff;
		transition: 0.3s;
	  }

	  .fa-solid:hover{
		color: #8ec63d;
	  }


	  
	</style>

</section>


{% endblock content %}


 