{% extends "app/base/base.html" %}
{% load static %}
{% block content %}

<section class="bg-600 h-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
            <h6 class="font-sans-serif text-primary fw-bold"></h6>
            <h1 class="mb-6">Dévénir partenaire</h1>
            <form id="agency" class="row g-3">

                <h1 class="text-center fs-2 mb-5">Informations de l'agence</h1>
                <div class="row mb-3">
                    <div class="col-sm-6 col-md-4">
                         <input id="agenceName" type="name" class="form-control" placeholder="Nom de l'agence *" v-model="name_agency">
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <input type="name" class="form-control" placeholder="Numéro de téléphon *" v-model="phone">
                    </div>
                    <div class="col-sm-6 col-md-4">
                       <input type="url" id="web" class="form-control" placeholder="Site web *" v-model="site_web">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-6 col-md-6">
                        <input type="email" class="form-control" placeholder="Adresse e-mail *" v-model="email">
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <input id="agenceAdresse" type="name" class="form-control" placeholder="Adresse de l'agence *" v-model="address_agency">
                    </div>
                </div>
                <hr>
                <h1 class="text-center fs-2 mb-5">Représentant de l'Agence</h1>
                <div class="row mb-3">
                    <div class="col-sm-12 col-md-12">
                        <input type="name" id="repres" class="form-control" placeholder="Représentant de l'Agence *" v-model="name_representative">
                    </div>
                </div>
               
                <div class="col-auto z-index-2">
                <button class="btn btn-primary" type="submit" @click.prevent="sendDataAgency()">Agence Immobilière</button>
                </div>
            </form>
        </div>
        </div>
    </div>
</section>



{% endblock content %}

{% block agencePost %}
    <script>
        new Vue({
            el: '#agency',
            data: {
              name_agency: '',
              phone: '',
              site_web: '',
              email: '',
              address_agency:'',
              name_representative:''
            },
            mounted(){},
            computed: {},
            methods: {
                sendDataAgency(){
                  if(this.name_agency == '', this.phone == '', this.site_web == '', this.address_agency == '', this.name_representative == ''){
                    Swal.fire({
                      icon: 'error',
                      title: 'Erreur',
                      text: "veuillez remplir tous les champs !!!",
                      showConfirmButton: true,
                     })
                  }else if(!/^[a-zA-Z0-9.+_-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/.test(this.email)){
                    Swal.fire({
                      icon: 'error',
                      title: 'Erreur',
                      text: "un mail valide svp !!!",
                      showConfirmButton: true,
                     })
                  }else{
                    let myForm = new FormData();
                    myForm.append('name_agency', this.name_agency)
                    myForm.append('phone', this.phone)
                    myForm.append('site_web', this.site_web)
                    myForm.append('email', this.email)
                    myForm.append('name_representative', this.name_representative)
                    myForm.append('address_agency', this.address_agency)
                    
                    axios.defaults.xsrfCookieName = 'XSRF-TOKEN'
                    axios.defaults.xsrfHeaderName = 'X-XSRF-TOKEN'
                    axios.post(" {% url 'post-agence' %} ", myForm,{})
                    .then(function(response){
                      if(response.data.success){
                        Swal.fire({
                          icon: 'success',
                          title: 'Demande envoyee',
                          text: response.data.msg ,
                          showConfirmButton: false,
                          timer: 3500
                        });
                        window.setTimeout(function(){window.location.reload();}, 3500);
                        
                      }else{
                        Swal.fire({
                          icon: 'error',
                          title: 'Demande non envoyee',
                          text: response.data.msg ,
                          showConfirmButton: true,
                        });
                      }
                    })
                  } 
                }
            }
    })
    
    </script>
{% endblock agencePost %}