{% extends "base/base.html" %}
{% load static %}
{% block content %}

<!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="pb-11 pt-7 bg-600">

        <div class="container">
          <div class="row">
            <div class="col-12">
              <h6 class="font-sans-serif text-primary fw-bold">Course category</h6>
              <h1 class="mb-6">Catalogue</h1>
              <form method="get" action="/catalogue" class="row g-3">
                <div class="col-sm-6 col-md-3">
                  <label class="form-label" for="inputCategories">Type de propriété</label>
                  <select class="form-select" id="inputCategories" name="type_propriete">
                    <option selected="selected">Votre choix</option>
                      <option value="1">Maison</option>
                      <option value="2">Appartement</option>
                      <option value="3">Studio</option>
                  </select>
                </div>
                <div class="col-sm-6 col-md-3">
                  <label class="form-label" for="inputLevel">Status</label>
                  <select class="form-select" id="inputLevel" name="status">
                    <option selected="selected">A louer / A vendre</option>
                    <option value="LOUER">A louer</option>
                    <option value="VENDRE">A vendre</option>
                  </select>
                </div>
                <div class="col-sm-6 col-md-3">
                  <label class="form-label" for="inputLanguage">Prix</label>
                  <select class="form-select" id="inputLanguage" name="prix_propriete">
                    <option selected="selected">votre choix</option>
                    <option value="50.000">50.000 fcfa</option>
                    <option value="100.000">100.000 fcfa</option>
                    <option value="500.000 fcfa">500.000 fcfa</option>
                  </select>
                </div>
                <div class="col-sm-6 col-md-3">
                  <label class="form-label" for="inputInstructor">Zone</label>
                  <select class="form-select" id="inputInstructor" name="localite">
                    <option selected="selected">Votre choix </option>
                    {% for local in get_localites %}
                      <option value="{{local.id}}">{{local.name}}</option>
                    {% endfor %}
                  </select>
                </div>
                
                <div class="col-auto z-index-2">
                  <button class="btn btn-primary" type="submit">Rechercher</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->

              <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="pb-0" style="margin-top:-17rem">

        <div class="container">
          <div class="row">

            {% for house in get_all__properties %}
            <div class="col col-md-4 col-sm-6 col-xs-6 mb-4">
                <div class="card h-100"> 
                  <img class="card-img-top h-50 w-100" src="{{ house.pictures.all.first.picture.url }}" alt="courses" />
                    <div class="card-body">
                    <h5 class="font-sans-serif fw-bold fs-md-0 fs-lg-1">{{house.titre_annonce}}</h5>
                    <a class="text-muted fs--1 stretched-link text-decoration-none" href="{% url 'home-detail' house.id %}">{{ house.prix_propriete }}</a>
                  </div>
                  <div class="d-flex justify-content-between ms-3" style="margin-right: 5px;"> 
                    <span class="fa-span">Publié par: {{house.proprietaire}}</span> <span>{{house.status}}</span>
                  </div>
                  </div>
                </div>
                {% endfor %}
          </div>
        </div>
        <!-- end of .container--><j
      </section>

{% include "includes/_email_sub.html" %}

      <!-- <section> close ============================-->
      <!-- ============================================-->



{% endblock %}