{% extends "base/base.html" %}
{% load static %}
{% block content %}

<!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="pb-11 pt-7 bg-600">

        <div class="container">
          <div class="row">
            <div class="col-12">
              <h6 class="font-sans-serif text-primary fw-bold">Course category</h6>
              <h1 class="mb-6">Catalogue</h1>
              <form class="row g-3">
                <div class="col-sm-6 col-md-3">
                  <label class="form-label" for="inputCategories">Type de propriété</label>
                  <select class="form-select" id="inputCategories">
                    <option selected="selected">Votre choix</option>
                    <option value="1">Appartement</option>
                    <option value="2">Maison</option>
                    <option value="3">Studio</option>
                  </select>
                </div>
                <div class="col-sm-6 col-md-3">
                  <label class="form-label" for="inputLevel">Status</label>
                  <select class="form-select" id="inputLevel">
                    <option selected="selected">A louer / A vendre</option>
                    <option value="1">A louer</option>
                    <option value="2">A vendre</option>
                  </select>
                </div>
                <div class="col-sm-6 col-md-3">
                  <label class="form-label" for="inputLanguage">Prix</label>
                  <select class="form-select" id="inputLanguage">
                    <option selected="selected">votre choix</option>
                    <option value="1">50 000 fcfa</option>
                    <option value="2">100 000 fcfa</option>
                  </select>
                </div>
                <div class="col-sm-6 col-md-3">
                  <label class="form-label" for="inputInstructor">Zone</label>
                  <select class="form-select" id="inputInstructor">
                    <option selected="selected">Votre choix </option>
                    <option value="1">Bobodioulasso</option>
                  </select>
                </div>
                
                <div class="col-auto z-index-2">
                  <button class="btn btn-primary" type="submit">Rechercher</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->

              <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="pb-0" style="margin-top:-17rem">

        <div class="container">
          <div class="row">
            {% for house in get_some_vendors %}
                <div class="col col-md-4 col-sm-6 col-xs-6 mb-4">
                <div class="card h-100"><img class="card-img-top h-75 w-100" src="{{house.picture.url}}" alt="courses" />
                    <div class="card-body">
                    <h5 class="font-sans-serif fw-bold fs-md-0 fs-lg-1">User Research for User Experience Design</h5><a class="text-muted fs--1 stretched-link text-decoration-none" href="{% url 'home-detail' %}">The Museum of Modern Art</a>
                    </div>
                </div>
                </div>
            {% endfor %}

            {% for house in get_some_vendors %}
                <div class="col col-md-4 col-sm-6 col-xs-6 mb-4">
                <div class="card h-100"><img class="card-img-top h-75 w-100" src="{{house.picture.url}}" alt="courses" />
                    <div class="card-body">
                    <h5 class="font-sans-serif fw-bold fs-md-0 fs-lg-1">User Research for User Experience Design</h5><a class="text-muted fs--1 stretched-link text-decoration-none" href="{% url 'home-detail' %}">The Museum of Modern Art</a>
                    </div>
                </div>
                </div>
            {% endfor %}

            
          </div>
        </div>
        <!-- end of .container-->
      </section>

{% include "includes/_email_sub.html" %}

      <!-- <section> close ============================-->
      <!-- ============================================-->



{% endblock %}