{% extends "app/base/base.html" %}
{% load static %}
{% block content %}
    <style>
        .grew{
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: #f5f5f5;
            padding: 15px 10px;
           
        }
    </style>
    <section class="bg-600">
        <div class="container">
            <div class="row">
                <h2 class="text-center">Conditions Générale d'Utilisation (CGU)</h2>
            </div>
        </div>
    </section>
    <section>
        <div class="container py-4">
            <div class="row">
                {% for value in get_cgu_s %}
                    
                    <div class="col-md-12">
                        <h5 class="text-secondary font-sans-serif fw-bold">{{value.title}}</h5>
                        <div class="grew mb-4">
                            {{value.libele}}
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>


{% endblock content %}