{% extends "base/base.html" %}
{% load static %}
{% block content %}

<main class="main" id="top">


    

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="pb-11 pt-7 bg-600">

        <div class="container">
          <div class="row">
            <div class="col-12">
              <h6 class="font-sans-serif text-primary fw-bold">Course detail</h6>
              <h1 class="mb-6">{{get_property_ids.titre_annonce}}</h1>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- <section> begin ============================-->
      <section style="margin-top:-21.5rem">

        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <div class="fader">
                {% for pic in get_property_ids.pictures.all %}
                  <div>
                    <img class="w-100 " src="{{ pic.picture.url }}" alt="..." />
                  </div>
                {% endfor %}
              </div>
              <h1 class="my-4">Description</h1>
              {{get_property_ids.description | safe }}
              
            </div>
            <div class="col-md-4">
              <div class="card">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><strong>Type de propriété </strong>: {{get_property_ids.type_propriete}}</li>
                  <li class="list-group-item"><strong>Status </strong>: {{get_property_ids.status}}</li>
                  <li class="list-group-item"><strong>Prix </strong>: {{get_property_ids.prix_propriete}}</li>
                  <li class="list-group-item"><strong>Localisation </strong>: {{get_property_ids.localite}}</li>
                  <li class="list-group-item"><strong>Surface habitable </strong>: 500m</li>
                  <li class="list-group-item"><strong>Publié par </strong>: {{get_property_ids.proprietaire}}</li>
                  <li class="list-group-item text-center"><img src="{% static 'app/assets/img/gallery/searching.png' %}" width="78" alt="..." />
                    <p class="text-muted mb-0 mt-4">Contactez un service client au</p><a class="text-info" href="mailto:vctung@outlook.com">louhsira.contact@gmail.com</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->


      <!-- ============================================-->
      <!-- <section> begin ============================-->
        <!-- email subscribe -->
{% include "includes/_email_sub.html" %}
      <!-- <section> close ============================-->
      <!-- ============================================-->




      <!-- ============================================-->

  
    </main>


{% endblock %}


{% block scriptDetail %}

<script>
   $('.fader').slick({
  dots: true,
  infinite: true,
  speed: 500,
  fade: true,
  cssEase: 'linear',
  autoplay: true,
  mobileFirst: true
});
</script>

{% endblock scriptDetail %}
