{% extends "app/base/base.html" %}
{% load static %}
{% block content %}

<main class="main" id="top">


    

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="pb-11 pt-7 bg-600">

        <div class="container">
          <div class="row">
            <div class="col-12">
              <h6 class="font-sans-serif text-primary fw-bold">Course detail</h6>
              <h1 class="mb-6">{{get_property_ids.titre_annonce}}</h1>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- <section> begin ============================-->
      <section style="margin-top:-21.5rem">

        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <div class="fader">
                {% for pic in get_property_ids.pictures.all %}
                  <div>
                    <img class="w-100 " src="{{ pic.picture.url }}" alt="..." />
                  </div>
                {% endfor %}
              </div>
              <h1 class="my-4">Description</h1>
              <span>{{get_property_ids.description | safe }}</span>
              
            </div>
            <div class="col-md-4">
              <div class="card">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><strong>Type de propriété </strong>: {{get_property_ids.type_propriete}}</li>
                  <li class="list-group-item"><strong>Status </strong>: {{get_property_ids.status}}</li>
                  <li class="list-group-item"><strong>Prix </strong>: {{get_property_ids.prix_propriete}}</li>
                  <li class="list-group-item"><strong>Localisation </strong>: {{get_property_ids.localite}}</li>
                  <li class="list-group-item"><strong>Caractéristiques spéciales </strong>:
                    {% for caracteristique_speciale in get_property_ids.caracteristique_speciale.all %}
                      {{ caracteristique_speciale}},
                    {% endfor %}
                     
                    </li>
                  <li class="list-group-item"><strong>Surface habitable </strong>: 500m</li>
                  <li class="list-group-item"><strong>Publié par </strong>: {{get_property_ids.proprietaire}}</li>
                  <li class="list-group-item text-center"><img src="{% static 'app/assets/img/gallery/searching.png' %}" width="78" alt="..." />
                    <p class="text-muted mb-0 mt-4">Renseignez le formulaire en dessous pour réserver la propriété</p><a class="text-info" href="mailto:vctung@outlook.com">louhsira.contact@gmail.com</a>
                  </li>
                </ul>
              </div>
              <div class="card mt-4 p-2" id="reserve">
                <div class="row ">
                  <div class="col-md-6">
                    <label class="form-label" for="nameId">Nom et Prénom<span class="text-primary">*</span></label>
                    <input type="text" class="form-control" name="" placeholder="John Diane" id="nameId" v-model="name">
                  </div>
                  <div class="col-md-6">
                    <label class="form-label" for="phoneId">Téléphone<span class="text-primary">*</span></label>
                    <input type="text" class="form-control" name="" placeholder="86773620" id="phoneId" v-model="phone">
                  </div>
                </div>
                <div class="row mt-2 mb-4">
                  <div class="col-md-12">
                    <label class="form-label" for="emailId">Email<span class="text-primary">*</span></label>
                    <input type="email" name="" placeholder="example@gmail.com" class="form-control" id="emailId" v-model="email">
                  </div>
                </div>
                <button class="fa-btn-primary fw-bold" @click.prevent="SendReservation()" > Réserver cette propriété</button>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->


      <!-- ============================================-->
      <!-- <section> begin ============================-->
        <!-- email subscribe -->
{% include "app/includes/_email_sub.html" %}
      <!-- <section> close ============================-->
      <!-- ============================================-->




      <!-- ============================================-->

  
    </main>


{% endblock %}


{% block scriptDetail %}

<script>
   $('.fader').slick({
  dots: true,
  infinite: true,
  speed: 500,
  fade: true,
  cssEase: 'linear',
  autoplay: true,
  mobileFirst: true,
  prevArrow: '<i class="fa-solid fa-angle-right position-arrow right-arrow d-flex align-items-center justify-content-center">',
  nextArrow: '<i class="fa-solid fa-angle-left position-arrow left-arrow d-flex align-items-center justify-content-center">',
});
</script>

{% endblock scriptDetail %}


{% block scriptVueDetail %}

<script>
new Vue({
  el:"#reserve",
  delimiters: ['%{', '}'],
  data:{
    name: '',
    phone: '',
    email: '',
    property_reserve: {{get_property_ids.id}},
  },
  methods:{
    SendReservation(){
      if(this.name == "" ,this.phone == "", this.email == ""){
        Swal.fire({
          icon: 'error',
          title: 'Erreur',
          text: "veuillez remplir tous les champs !!! ",
          showConfirmButton: true,
        })
      }else if(!/^[a-zA-Z0-9.+_-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/.test(this.email)){
        Swal.fire({
          icon: 'error',
          title: 'Erreur',
          text: "veuillez saisir un addresse Mail correct !!! ",
          showConfirmButton: true,
        })
      }else{
        let myForm = new FormData();
        myForm.append('name', this.name)
        myForm.append('phone', this.phone)
        myForm.append('email', this.email)
        myForm.append('property_reserve', this.property_reserve)

        axios.defaults.xsrfCookieName = 'XSRF-TOKEN'
        axios.defaults.xsrfHeaderName = 'X-XSRF-TOKEN'
        axios.post("{% url 'post-reservation' %}", myForm, {})
        .then(function(response){
          if(response.data.success){
            Swal.fire({
              icon: 'success',
              title: 'Reservation envoyée',
              text: response.data.msg,
              showConfirmButton: false,
              timer: 3500,
            });
          }else{
            Swal.fire({
              icon: 'error',
              title: 'Reservation non envoyée',
              text: response.data.msg,
              showConfirmButton: true,
            });
          }
        })
      }
    }
  }
})

</script>
  
{% endblock scriptVueDetail %}